server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5433/inventory
    username: inventory
    password: inventory
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
    show-sql: true
